<% content_for :page_title do %>
  <%= Spree.t(:listing_nutritions) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_nutrition_link">
    <%= button_link_to Spree.t(:new_nutrition), new_admin_nutrition_url, { :remote => true, :icon => 'plus', :id => 'new_nutrition_link' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<div id="new_nutrition_wrapper" data-hook></div>

<%= paginate @nutritions %>

<% if @nutritions.any? %>
  <table class="index responsive" id="listing_orders" data-hook>
    <colgroup>
      <col style="width: 90%;" />
      <col style="width: 10%;" />
    </colgroup>
    <thead>
      <tr>
        <th><%= Spree.t(:name) %></th>
      </tr>
      </thead>
    <tbody>
      <% @nutritions.each do |nutrition| %>
        <tr data-hook="admin_nutritions_index_rows">
          <td class="align-center"><%= nutrition.name %></td>
          <td class="actions" data-hook="admin_nutritions_index_row_actions">
            <%= link_to_edit nutrition, :no_text => true, :class => 'edit' if can?(:edit, nutrition) %>
            &nbsp;
            <%= link_to_delete nutrition, :no_text => true if can?(:delete, nutrition) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_nutrition_path %>!
  </div>
<% end %>

<%= paginate @nutritions %>