<% content_for :page_title do %>
  <%= Spree.t(:day_deliveries) %>
<% end %>

<div class="time-info">
  <div>Today is : <%= Time.now %></div>
</div>

<div id="server-date" data-date="<%= today %>"></div>

<div id="day-deliveries">

  <div id="calendar-head" class="alpha omega calendar-header sixteen columns">
    <button id="left-button" class="alpha cal-button one columns">
      <i class="fa fa-caret-left"></i>
    </button>
    <div id="center-bar" class="thirteen columns" data-datestart='' data-dateend=''>
    </div>
    <button id="right-button" class="omega cal-button one columns">
      <i class="fa fa-caret-right"></i>
    </button>
  </div>

  <div class="alpha day-of-week three columns dropzone">
    <div class="title">
      <%= Spree.t(:monday)%>
    </div>
    <!-- dishes list -->
    <div class="dishes-container" data-date="">
    </div>
    <div class="dishpicker">
      <p>Dish picker</p>
    </div>
  </div>

  <div class="day-of-week three columns dropzone">
    <div class="title">
      <%= Spree.t(:tuesday)%>
    </div>

    <div class="dishes-container" data-date="">
    </div>

    <div class="dishpicker">
      <p>Dish picker</p>
    </div>
  </div>

  <div class="day-of-week three columns dropzone">
    <div class="title">
      <%= Spree.t(:wednesday)%>
    </div>

    <div class="dishes-container" data-date="">

    </div>

    <div class="dishpicker">
      <p>Dish picker</p>
    </div>
  </div>

  <div class="day-of-week three columns dropzone">
    <div class="title">
      <%= Spree.t(:thursday)%>
    </div>

    <div class="dishes-container" data-date="">

    </div>

    <div class="dishpicker">
      <p>Dish picker</p>
    </div>
  </div>

  <div class="day-of-week three columns dropzone">
    <div class="title">
      <%= Spree.t(:friday)%>
    </div>

    <div class="dishes-container" data-date="">

    </div>

    <div class="dishpicker">
      <p>Dish picker</p>
    </div>
  </div>

</div>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>